langchain-text-splitters
langchain-community
torch
langchain-core==1.1.0
fitz
chromadb==1.3.5
fastapi>=0.109.1
uvicorn[standard]>=0.24.0
pydantic>1.9,<2.12
pydantic-settings>=2.0.0
python-dotenv>=1.0.0
PyMuPDF
langchain-openai
pymupdf4llm
langchain-pymupdf4llm
langchain-chroma
sentence-transformers==5.1.2
